.card {
    max-width: 600px;
    margin: 0px auto 20px;
    position: relative;
}

.textInput {
    width: 100%;
    margin-bottom: 15px !important;
}

.dateInput {
    margin-bottom: 15px !important;
}

.statusCheck {
    float: right;
}
.statusLabel {
    margin-top: 10px;
    float: right;   
}

.saveBtn {
    display: block;
}